.vodafone {
    color: rgb(248, 0, 0);
    font: 300;
    padding-top: 3cm;
    text-align: center;
    padding-bottom: 3cm;
}
.mer{
    padding-top: 3cm;
    text-align: center;
    padding-bottom: 3cm;
    color: rgb(0, 136, 7);

}
#f{
    background-color: rgb(231, 231, 231);
}
.po{
    height: 5cm;
    width: 20cm;
    padding-left;: 2cm;
    padding-top: 2em;
}